DATABASE_URL="postgresql://postgres:postgres@localhost:5432/jungle_snack_court?schema=public"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-a-random-32-byte-secret"
AUTH_SECRET="replace-with-a-random-32-byte-secret"

AUTH_GOOGLE_ID="your-google-client-id"
AUTH_GOOGLE_SECRET="your-google-client-secret"

AUTH_KAKAO_ID="your-kakao-client-id"
AUTH_KAKAO_SECRET="your-kakao-client-secret"

AUTH_NAVER_ID="your-naver-client-id"
AUTH_NAVER_SECRET="your-naver-client-secret"

OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-5.5
